* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
input:focus {
  outline: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: pink;
}
.box {
  position: absolute;
  left: 50%;
  top: 50;
  transform: translate(-50%,0%);
  background: rgb(247, 225, 229);
  height: 70%;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(8, calc(70% / 8));
}
.box div:first-child {
  grid-row:  span 4;
  position: relative;
}
.box div:first-child img{
  height: 100%;
  width: 50%;
}

.waiting{
  float: right;
}

/*
|-----------------------------|
|type box
|-----------------------------|
*/
.typeBox {
  display: flex;
  align-items: start;
  padding: 1rem;
  grid-row:   span  5;
  box-shadow: 0 0  20px rgba(148, 147, 147, 0.308) inset;
  word-spacing: 2px;
  line-height: 1.5rem;
  text-align: justify;

}

/*
|-----------------------------|
|button group
|-----------------------------|
*/
.box div:nth-child(3){
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}



.box div:nth-child(3)  button{
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500; 
  color: white;
  border: none;
  transition: all .3s ease-in-out;
  box-shadow: 5px 5px 15px rgba(90, 90, 90, 0.24);
}

.box div:nth-child(3) div:first-child button{
  background: rgb(113, 238, 113);
}
.box div:nth-child(3) div:first-child button:active{
  background: rgba(113, 238, 113, 0.527);
  box-shadow: none;

}
.box div:nth-child(3) div:nth-child(2) button{
  background: rgb(238, 113, 113);
}
.box div:nth-child(3) div:nth-child(2) button:active{
  background: rgba(238, 113, 113, 0.527);
}



/*
|-----------------------------|
|Say no
|-----------------------------|
*/

.sayNo{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #0000008f;
  display: flex;
  left: -100%;
  justify-content: center;
  align-items: center;
  transition:  all .3s ease-in;
}
.sayNo.sayNull{
  left:0;
}
.sayNo >div{
  display: grid;
  border-radius: 10px;
  width: 80%;
  min-height: 60%;
  background: rgb(247, 225, 229);
}


.sayNo div div:nth-child(1){ 
  display: flex;
  justify-content: center;
  align-items: center
  ;
}
.sayNo div div:nth-child(2){
  min-height: 100%;
  box-shadow: 0 0  20px rgba(148, 147, 147, 0.308) inset;
}

